script(src='https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/react-router/2.0.0/ReactRouter.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js')
