@mixin header() {
  display: flex;
  flex-direction: row;
  & > div:first-child{
    background:red;


     .map-padding{
       background:blue;
       position: relative;
       width: 100%;
      //padding-bottom:100%;
       .map{
         position: absolute;
         width:100%;
         img{
           display: none;
         }
       }
     }
    flex:1;
    order:1
  }
  & > div:last-child{
    flex:1;
    order:2;

    //position: relative;
    h4{

      text-align: center;
      transform: translateY(100%);
    }
  }
};


._sidebar{
    position: fixed;
    width:300px;
    height:100%;
    min-height: 800px;
    background: #2294d4;
    top:0;
    bottom:0;
    left:0;
    box-shadow: 0px 0px 10px;
    & > ._sidebar-container{
      display: flex;
      flex-direction: column;
      height:100%;
      & > header{
        order:1;
        flex:2;
        overflow: hidden;
      background:#6ec1f0;

        @include header();
      }
      & > section{
        order:2;
        flex:16;
        margin-top: 10px;


        & > a > li {
          color:black;

          background:#46ade7;
          margin:2px;
          padding:8px;
          font-size: 1rem;

          &:hover{
            -webkit-filter:brightness(1.2)
          }
        }
      }
      & > footer{
        border-top:1px solid rgba(#ffffff, 0.5);
        order:3;
        flex:1;
        background:#6ec1f0;
      }
    }
}
