div
    section(layout-padding)
        lorem-ipsum(amount='10' ,multiplyer='1' ,type='P')
        
    hr
    section(layout-padding)
        lorem-ipsum(amount='50' ,multiplyer='10' ,type='P')

        