div  
    div(style=' outline:2px solid red')
        section(layout='row' style='height:8em')
            img(ng-src='http://placehold.it/550x450' style='height:8em')
            h1(style='line-height: 72px; font-size: 5em; padding-left: 50px;') Angular
        section
            div
                p  These pages contain the AngularJS2.7 reference materials for version 1.5.0-rc.0 oblong-panoptikum.
            
            
  
