.page--jquery
    div()
        lorem-ipsum(type='h4' amount='8'  color='black')
        section(layout-padding)
            lorem-ipsum(type='p' amount='400'  color='black' style='line-height:30px; font-size:2em;')  
        h1 JQUERY
        
