.menu-header--flexbox
    section.logo(ng-style='global.$theme.accent')
        div.img-container
        span COSMOS &copy; inc.
    section.pannel(ng-style='global.$theme.background')
        li(ui-sref='home')
            i.fa.fa-home
        li
            i.fa.fa-cogs
        li
            i.fa.fa-car
        
    
